# the executables
libmain.a
librenderer.a
test
test.exe

# Ignore autotools files
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
configure
depcomp
install-sh
missing
Makefile.in
stamp-h1
config.log
config.status

# Ignore 'Makefile', track the system specific ones in the source tree
Makefile

# Normal trash files
*exe
*dll
*o
*swp
